.mixinFlex {
  display: flex;
  justify-content: center;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: Roboto;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 1.7rem;
}
h3 {
  font-size: 1.9rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.container {
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #ffac02;
}
.headerclass {
  display: flex;
  margin-top: 20px;
}
@media (max-width: 500px) {
  .headerclass {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.headerclass .navflexbox {
  width: 50%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  background: #090429;
  border-radius: 10px;
  margin-right: 10px;
}
@media (max-width: 500px) {
  .headerclass .navflexbox {
    margin-top: 10px;
    justify-content: space-around;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 0px;
  }
}
footer {
  display: flex;
  justify-content: center;
  color: white;
  background: #090429;
  padding-top: 10px;
  padding-bottom: 10px;
}
#title {
  width: 50%;
  font-size: 3rem;
  color: #FBAB06;
  padding-left: 10px;
}
@media (max-width: 500px) {
  #title {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.tagandpic {
  margin-top: 60px;
}
.undernav {
  display: flex;
  justify-content: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}
.bee {
  display: flex;
  margin: 0 auto;
  padding-bottom: 10px;
}
.buttons {
  border-bottom: 1px #FBAB06 dashed;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.buttons .buttonstyle {
  margin-right: 10px;
  margin-left: 10px;
  border: 2px #FBAB06 solid;
  border-radius: 13px;
  line-height: 3.5rem;
  cursor: pointer;
  padding: 0.4em;
  color: white;
  background: #090429;
}
.buttons .buttonstyle:hover {
  background-color: #ffffff;
}
.buttons .buttonstyle:hover {
  color: #ffac02;
}
.container-home {
  border-bottom: 1px #FBAB06 dashed;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 30px;
}
.specialh2 {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.mainpictures {
  width: 100%;
  border: 2px #090429 solid;
  border-radius: 10px;
  margin-bottom: 10px;
  height: 100%;
}
.featureclass {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}
.featurepara {
  margin-left: 20px;
  margin-right: 20px;
}
.text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headertext {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}
.contentcontainer {
  margin-bottom: 20px;
}
.all {
  padding-left: 20px;
  padding-right: 20px;
  width: 33.3%;
}
.container-aboutus {
  margin-bottom: 10px;
}
.container-aboutus .TLbio {
  display: flex;
  justify-content: center;
  margin-left: 80px;
  margin-right: 80px;
  background: #090429;
}
@media (max-width: 500px) {
  .container-aboutus .TLbio {
    background: #090429;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
}
.container-aboutus .allmems {
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .container-aboutus .allmems {
    margin-left: 10px;
    margin-right: 10px;
  }
}
@media (max-width: 500px) {
  .S {
    width: 80%;
  }
}
