//About us styles 

.container-aboutus {
    margin-bottom: 10px;

    .TLbio {

        display: flex;
        justify-content: center;
        margin-left: 80px;
        margin-right: 80px;
        background: #090429;
          
        
    }


.allmems {
    display: flex;
    justify-content: center;
}
    
    
}






