//About us styles 

.container-aboutus {
    margin-bottom: 10px;
    

    .TLbio {

        .mixinFlex();
        margin-left: 80px;
        margin-right: 80px;
        background: @background-color;
          
        @media @mobile {
            background: @background-color;
            .widthParaMixin(100%);
            margin-right: 0px;
            margin-left: 0px;
            
        }
        
    }


.allmems {
    .mixinFlex();

    @media @mobile {
        margin-left: 10px;
        margin-right: 10px;
        font-size: @mobile-font-size;
        
        
    }
}
    

    
}

.S {

    @media @mobile {
        .widthParaMixin(80%);
        
        

    }
}


