//home styles

#title {
    width: 50%;
    font-size: @title-font-size;
    color: @header-font-color;
    padding-left: 10px;

}

.undernav {
    display: flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    
    
}

.tagandpic {
    margin-top: 60px;


}

.bee {
    display: flex;
   margin: 0 auto;
   padding-bottom: 10px;

}

.buttons {
    border: 5px red solid;
    display: flex;
    justify-content: center;
    
}

.buttonstyle {
    margin-right: 10px;
    margin-left: 10px;
    border: 2px black solid;
    border-radius: 13px;
    line-height: 3.5rem;
    cursor: pointer;
    padding: .4em;

    
    
   


}