//nav styles

.headerclass {
    display: flex;
    border: 1px red solid;


}


.navflexbox {
    width: 50%;
    font-size: @nav-font-size;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    

}