//variable styles

// Font color:
  @header-font-color:#FBAB06;

//general color theme hex code
//background- #090429

//font size:
 @nav-font-size: 1.5rem;

//mobile var

 @mobile:  ~"(max-width: 500px)";
