//variable styles

// Font color:
  @theme-font-color:#FBAB06;

//background color:
@background-color: #090429;

//Font sizes: 
 @nav-font-size: 1.5rem;
 @mobile-font-size: 1.4rem;

//mobile var escaping

 @mobile:  ~"(max-width: 500px)";
